{% extends 'base.html' %}
{% load i18n gravatar %}

{% block main-content %}

  <h2>{% blocktrans %}Group Subscriptions{% endblocktrans %}</h2>
  <h3>{% gravatar user_.email 50 %} {{ user_.get_full_name }} ({{ user_.username }})</h3>
  <br>

<script>
$(function (){

  searchMaillingLists();

  $('#search_list').on('click', function(event) {
    searchMaillingLists();
  });

  function searchMaillingLists(){
    $.ajax({
      url: "/archives/{{user_.username}}/subscriptions",
      type: 'post',
      data: { listname: $('#list_name').val(), user: '{{ user_.pk }}' },
      error: function(){
        alert("error");
      },
      success: function(data){
        $("#subscription_lists").html(data);
      },
      beforeSend: function(xhr, settings) {
        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'));
      }
    });

    event.preventDefault();
  }

  $('#list_name').on('keypress', function(event) {
    if (event.which == 13) {
      event.preventDefault();
      $('#search_list').trigger('click');
    }
  });

});
</script>

  <div class="row">
    <div class="col-lg-6 col-md-6">
      <div class="input-group">
        <input id="list_name" type="text" class="form-control" placeholder="{% trans "Inform the list name" %}">
        <span class="input-group-btn">
          <button id="search_list" type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>
  </div>
  <br>
  
  <div id="subscription_lists"></div>

 <br><br>
 <br><br>

{% endblock %}
